/* CSS files add styling rules to your content */

.TopNav{
  padding: 10px;
  background-color:lightblue;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
}
div a .active{
  background-color: #4CAF50;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
